@model IEnumerable<Tut20.Models.Reading>
@{
    ViewData["Title"] = "Visiting";
}
<h2>Visiting</h2>

<form id="period_sample" method="post">
    Period
    <input type="number" name="period" value="@ViewBag.Period" title="Число дней с момента открытия лекции" />
    Sample
    <input type="text" name="sample" value="@ViewBag.Sample" title="Фильтр для определения момента окрытия" />
    <input type="submit" value="Submit" />
</form>

<div>
    Filters
    <input type="text" id="rfilter" value="@ViewBag.Sample" />
    <input type="text" id="gfilter" value="" />
    <input type="text" id="bfilter" value="" />
    <span id="info" class="well well-sm"></span>
</div>
<div>
    <span id="info2" class="well well-sm"></span>
    <canvas width="500" height="300" id="canvas2"></canvas>
</div>


@section scripts {
    <script>
         var data = @(new Microsoft.AspNetCore.Html.HtmlString(ViewBag.Data));
    </script>
    <script src="~/js/Series.js"></script>
    <script src="~/js/stat_visiting.js"></script>
}
